
.jumbotron{
    background-image: url('https://cdn.pixabay.com/photo/2019/12/01/09/40/landscape-4665055_960_720.jpg');
    height: 350px;
    background-size: cover;
    background-repeat: no-repeat;
}